.desc{
    &__title{
        margin-bottom: 6rem;
    }

    &__paragraph {
        text-align: justify;
        text-justify: inter-word;
    }

    &__right {
        text-align: center;
       
    }
} 